body{
    margin: 2px;
}

h1{
    padding-left: 25%;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: cornflowerblue;
}

h3{
    padding: 10px;
    font-size: 16px;
    font-family: fantasy;
    cursor: default;
}

abbr{
    background-color:darkgoldenrod;
    color: wheat;
    cursor: pointer;
}

button{
    border-radius: 10pc;
    cursor: pointer;
    font-size: 12px;
}

.Tailandia{
    border-radius: 5px;
    background-color: coral;
}

.Espanha{
    border-radius: 5px;
    background-color: cornflowerblue;
}

.Italia{
    border-radius: 5px;
    background-color: crimson;
}

.Estados_Unidos{
    border-radius: 5px;
    background-color: darkgreen;
}

footer{
    position: absolute;
}