body{
    margin: 10px;
}

.Introdução{
    background-color: tan;
    border: solid 1px tan;
    border-radius: 5px;
}

.Introdução:hover{
    background-color: white;
    border: solid 1px white;
}

h1{
    color: steelblue;
    text-align: center;
}

h1:hover{
    color: lightgreen;
    background-color: tan;
}

p::first-letter{
    font-size: 25px;
}