body{
    margin: 10px, auto;
}

h1{
    width: 100%;
    height: 100px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: cornflowerblue;
}

h3{
    padding: 10px;
    font-size: 16px;
    font-family: fantasy;
    cursor: default;
}

abbr{
    background-color:darkgoldenrod;
    color: wheat;
    cursor: pointer;
}

button{
    border-radius: 10pc;
    cursor: pointer;
    font-size: 12px;
}

.Tailandia{
    border-radius: 5px;
    background-color: coral;
}

.Espanha{
    border-radius: 5px;
    background-color: cornflowerblue;
}

.Italia{
    border-radius: 5px;
    background-color: crimson;
}

.Estados_Unidos{
    border-radius: 5px;
    background-color: darkgreen;
}

footer{
    width: 100%;
    height: 100px;
    clear: both;
    background-color: cyan;
}